---
import { Image } from "astro:assets";
import bell from "@assets/bell.svg";
---

<div class="relative">
  <!-- Floating Logo Button -->
  <button
    id="bell-button"
    class="fixed bottom-20 right-5 z-30 transform rounded-full bg-primary-100 p-3 shadow-lg transition-transform duration-200 hover:scale-110"
    aria-label="Toggle panel"
  >
    <Image src={bell} alt="bellButton" width={35} />
  </button>

  <!-- Hidden Panel -->
  <div
    id="bell-panel"
    class="fixed bottom-32 right-10 z-40 w-64 origin-bottom-right scale-0 transform rounded-lg bg-primary-44 p-4 shadow-xl transition-transform duration-200"
  >
    <h2 class="mb-2 text-lg font-bold text-white">
      CONTÁCTANOS PARA SUMARTE AL CAMBIO
    </h2>
    <form class="mx-auto flex w-full max-w-xs flex-col items-center">
      <input
        name="newsletterEmail"
        type="email"
        required
        placeholder="Tu correo electrónico"
        class="w-full rounded-full border border-gray-300 px-4 py-2 focus:border-green-500 focus:outline-none"
      />
      <button
        type="submit"
        class="mt-3 rounded-full bg-green-500 px-5 py-2 font-semibold text-white transition-colors hover:bg-green-600"
      >
        Suscribirse
      </button>
    </form>
  </div>
</div>

<script type="module">
  const button = document.getElementById("bell-button");
  const panel = document.getElementById("bell-panel");
  let isOpen = false;

  button.addEventListener("click", () => {
    isOpen = !isOpen;
    panel.classList.toggle("scale-100", isOpen);
    panel.classList.toggle("scale-0", !isOpen);
  });
</script>
