---

---

<div class="relative">
  <!-- Connection Line: ocupa todo el ancho y pasa por el centro de los círculos -->
  <div class="z-1 absolute inset-x-0 top-1/4 h-2 rounded-sm bg-white"></div>

  <!-- Grid de 5 pasos -->
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-5">
    <!-- Paso 1 -->
    <div class="relative flex flex-col items-center">
      <div
        class="absolute top-1/4 z-0 h-32 w-4/5 rounded-b-lg border-2 border-white"
      >
      </div>
      <div
        class="relative z-10 mb-4 flex h-16 w-16 items-center justify-center rounded-full bg-primary-100 text-4xl font-bold text-white"
      >
        1
      </div>
      <h3 class="relative z-10 px-3 text-center font-bold text-white">
        ASESORÍA <br />
        TÉCNICA
      </h3>
    </div>

    <!-- Paso 2 -->
    <div class="relative flex flex-col items-center">
      <div
        class="absolute top-1/4 z-0 h-32 w-4/5 rounded-b-lg border-2 border-white"
      >
      </div>
      <div
        class="relative z-10 mb-4 flex h-16 w-16 items-center justify-center rounded-full bg-primary-100 text-4xl font-bold text-white"
      >
        2
      </div>
      <h3 class="relative z-10 px-3 text-center font-bold text-white">
        DISEÑO <br /> PERSONALIZADO
      </h3>
    </div>

    <!-- Paso 3 -->
    <div class="relative flex flex-col items-center">
      <div
        class="absolute top-1/4 z-0 h-32 w-4/5 rounded-b-lg border-2 border-white"
      >
      </div>
      <div
        class="relative z-10 mb-4 flex h-16 w-16 items-center justify-center rounded-full bg-primary-100 text-4xl font-bold text-white"
      >
        3
      </div>
      <h3 class="relative z-10 px-3 text-center font-bold text-white">
        VISITAS EN <br />
        TERRENO
      </h3>
    </div>

    <!-- Paso 4 -->
    <div class="relative flex flex-col items-center">
      <div
        class="absolute top-1/4 z-0 h-32 w-4/5 rounded-b-lg border-2 border-white"
      >
      </div>
      <div
        class="relative z-10 mb-4 flex h-16 w-16 items-center justify-center rounded-full bg-primary-100 text-4xl font-bold text-white"
      >
        4
      </div>
      <h3 class="relative z-10 px-3 text-center font-bold text-white">
        INSTALACIÓN Y CAPACITACIÓN
      </h3>
    </div>

    <div class="relative flex flex-col items-center">
      <div
        class="absolute top-1/4 z-0 h-32 w-4/5 rounded-b-lg border-2 border-white"
      >
      </div>
      <div
        class="relative z-10 mb-4 flex h-16 w-16 items-center justify-center rounded-full bg-primary-100 text-4xl font-bold text-white"
      >
        5
      </div>
      <h3 class="relative z-10 px-3 text-center font-bold text-white">
        SEGUIMIENTO
      </h3>
    </div>
  </div>
</div>
