---
import { Image } from "astro:assets";

const images = Object.values(import.meta.glob('@assets/galeriaComponent/*'));

---

<div class="container mx-auto px-4 py-8">
  <h2 class="text-2xl font-semibold mb-6 text-center text-white">Nuestra Galería</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {images.map((src, i) => (
        

        <div key={i} class="overflow-hidden rounded-lg shadow-lg">
        <Image
          src={src() as any}
          alt={`Galería ${i + 1}`}
          class="w-full h-48 object-cover transform hover:scale-105 transition-transform duration-300"
          />
      </div>)

    )}
  </div>
</div>
