---
import Image from 'astro/components/Image.astro'
import boleta from '../assets/boletaNikola.png'

---

<section id="servicios" class="py-20 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-12 items-center">

      <!-- Content Column -->
      <div class="order-1 lg:order-1">
        <h2 class="text-3xl sm:text-4xl font-bold text-secondary-900 mb-6 align-middle">
          ENERGÍA SOLAR PARA TU CASA
        </h2>
        <p class="text-lg text-secondary-600 mb-8 leading-relaxed">
         En Nikola <strong> diseñamos e instalamos proyectos solares personalizados</strong>
        para casas y pymes en Chile, ayudando a nuestros clientes a <strong>ahorrar
        en su cuenta de luz </strong> tecnología fotovoltaica de <strong>alta eficiencia</strong>.
        </p>
        
        <a 
          href="/cotizar" 
          class="inline-block bg-primary-600 text-white px-8 py-3 rounded-full text-1xl font-bold hover:bg-primary-700 transition-colors"
        >
          COTIZA TU PROYECTO SOLAR
        </a>
      </div>
      <!-- Image Column -->
      <div class="order-2 lg:order-2">
        <Image 
          src={boleta}
          alt="Servicios profesionales" 
        />
      </div>
    </div>
  </div>
</section>