---
import ConnectedDots from "@components/connectedDots.astro"
import ImageGalerry from '@components/ImageGallery.astro'
---
<section id="financiamiento" class="py-20 bg-secondary-100">
  <ConnectedDots/>
  <div class="h-10"></div>
  <ImageGalerry/>
  
</section>
