---
import ConnectedDots from "@components/connectedDots.astro";
import ImageGalerry from "@components/ImageGallery.astro";
import Dibujos from "@components/Dibujos.astro";
---

<section id="financiamiento" class="bg-secondary-100 py-20">
  <div class="mx-auto max-w-7xl">
    <!-- Section Header -->
    <div class="mb-16 text-center">
      <h2 class="mb-4 text-3xl font-bold text-whiteNik sm:text-4xl">
        PROYECTO “LLAVE EN MANO”
      </h2>
      <p class="mx-auto max-w-3xl text-lg font-semibold text-white">
        En Nikola ofrecemos una solución solar completa: diseño, instalación,
        equipos de calidad, trámites y conexión según la Ley Net Billing, sin
        letra chica.
      </p>
    </div>

    <Dibujos />
    <div class="h-10"></div>
    <ConnectedDots />
    <div class="h-10"></div>
    <ImageGalerry />
  </div>
</section>
