---
import { Image } from "astro:assets";
import ConnectedDots from "@components/connectedDots.astro";
import ImageGalerry from "@components/Casas-Empresas.astro";
import Dibujos from "@components/Dibujos.astro";
import Chile from '@assets/chile.png'
---

<section id="financiamiento" class="bg-secondary-100 py-20">
  <div class="mx-auto max-w-7xl">
    <!-- Section Header -->
    <div class="mb-16 text-center">
      <h2 class="mb-4 text-3xl font-bold text-whiteNik sm:text-4xl">
        PROYECTO “LLAVE EN MANO”
      </h2>
      <p class="mx-auto max-w-3xl text-lg font-semibold text-white">
        En Nikola ofrecemos una solución solar completa: diseño, instalación,
        equipos de calidad, trámites y conexión según la Ley Net Billing, sin
        letra chica.
      </p>
    </div>

    <Dibujos />
    <div class="h-10"></div>
    <ConnectedDots />
    <div class="h-10"></div>
    <ImageGalerry />

   <div class="text-white text-xl font-bold bg-backgroundBlur rounded-full mx-4 grid grid-cols-3 gap-x-8 items-center justify-center  pr-6 py-3 text-center ">
  <span>
    <span class="text-2xl font-extrabold">+400</span>
    <span class="ml-2 align-middle">Clientes</span>
  </span>
  <span>
    <span class="text-2xl font-extrabold align-middle">+3.500</span>
    <span class="ml-2 align-middle">kWp Instalados</span>
  </span>
  <span>
    <span class="text-2xl font-extrabold align-middle">+1.452</span>
    <span class="ml-2 align-middle">t de CO₂ evitados</span>
  </span>
</div>
<div>
  <Image src={Chile} alt="chile"/>
</div>
</div>
</section>
